NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBSnVPE0VUqXke5UoChm7yY5FnZ93QjSM8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=razorpaytest-fd410.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=razorpaytest-fd410
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=razorpaytest-fd410.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=85131956863
NEXT_PUBLIC_FIREBASE_APP_ID=1:85131956863:web:e53e09b77e337786dda54a

# Razorpay Configuration
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret 